[submodule "modules/columnflow"]
    path = modules/columnflow
    url = https://github.com/HEP-KBFI/columnflow.git
    branch = hhmultilepton_run3_dev

[submodule "modules/cmsdb"]
    path = modules/cmsdb
    url = https://github.com/uhh-cms/cmsdb.git
    branch = master
